
.item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 10px;
    background: #cdcdcd;
    border-radius: 15px;
    padding: 10px;
   
}
.item-item{
    font-size: 18px;
    font-weight: 700;
}
.item-dates{
    font-size: 18px;
    font-weight: 500;
}
.containe{
    text-align: center;  
} 
#search{
    font-size: 20px;
    border: none;
    outline: 0;
    background: #f8c300;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}
 
